*{padding: 0px; margin: 0px; box-sizing: border-box;}
body{background-color: #ffffff;}
html{font-family: "Roboto", sans-serif;}

/* main-div */
.main-div{width: 100%;height: 100vh; padding: 50px 70px;  display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.pages{height: 550px; width: 320px;  border-radius: 20px; box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);} 

.page1{background-image: url('img/cloudy.webp'); background-repeat: no-repeat; background-size: cover; background-position: center;}
.page2{background-image: url('img/rainy.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;}
.page3{background-image: url('img/cold.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center;}

.weather{width: 100%; padding: 30px; display: flex; flex-wrap: wrap; justify-content: space-between; text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);}
.weather-info{width: 50%; color: white;}
.weather-info p{font-size: 24px;}
.weather-info h1{font-size: 60px; margin: 10px 0px;}

.weather-icon{width: 30%; font-size: 60px; color: rgb(255, 255, 255); text-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);}

/* media query */
@media (max-width:1150px) {
      .pages{width: 32%;}
}

@media (max-width:1049px) {
      .main-div{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
      .pages{width: 280px; height: 500px;}
}

@media (max-width:999px) {
      .pages{width: 250px; height: 450px; }
      .weather-info p{font-size: 20px;}
      .weather-info h1{font-size: 40px;}
}

@media (max-width:899px) {
      .pages{width: 220px; height: 400px; }
      .weather-info p{font-size: 20px;}
      .weather-info h1{font-size: 40px;}
}

@media (max-width:810px) {
      .main-div{display: flex;  justify-content: center; align-items: center;}
      .pages{height: 480px; width: 300px;  border-radius: 20px; margin: 10px 40px;} 

}

@media (max-width:500px) {
      .main-div{display: flex;  justify-content: center; align-items: center;}
      .pages{height: 450px; width: 250px;  border-radius: 20px; margin: 10px 0px;} 
      .weather-info p{font-size: 12px;}
      .weather-icon{font-size: 45px;}
}

@media (max-width:370px) {
      .main-div{display: flex;  justify-content: center; align-items: center;}
      .pages{height: 380px; width: 220px;  border-radius: 20px; margin: 10px 0px;}
      .weather-info p{font-size: 12px;}
      .weather-info h1{font-size: 30px;} 
      .weather-icon{font-size: 35px;}
}